
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1480075584023'); /* IE9*/
  src: url('iconfont.eot?t=1480075584023#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1480075584023') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1480075584023') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1480075584023#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before { content: "\e61f"; }

.icon-music:before { content: "\e600"; }

.icon-flickr:before { content: "\e620"; }

.icon-weibo:before { content: "\e601"; }

.icon-rss:before { content: "\e621"; }

.icon-twitter:before { content: "\e602"; }

.icon-right-thin:before { content: "\e623"; }

.icon-left-thin:before { content: "\e625"; }

.icon-qq:before { content: "\e616"; }

.icon-qzone:before { content: "\e67f"; }

.icon-weibo1:before { content: "\e680"; }

.icon-douban:before { content: "\e681"; }

.icon-twitter1:before { content: "\e683"; }

.icon-chat:before { content: "\e603"; }

.icon-hot:before { content: "\e607"; }

.icon-instagram:before { content: "\e610"; }

.icon-fi45:before { content: "\e622"; }

.icon-more:before { content: "\e605"; }

.icon-gou:before { content: "\e626"; }

.icon-share:before { content: "\e614"; }

.icon-github:before { content: "\e735"; }

.icon-gengduo:before { content: "\e604"; }

.icon-socialtumblrcircle:before { content: "\e624"; }

.icon-link:before { content: "\e618"; }

.icon-zoomin2:before { content: "\e606"; }

.icon-order-all-new:before { content: "\e608"; }

.icon-weixin:before { content: "\e609"; }

.icon-iconlockcheck:before { content: "\e60f"; }

.icon-pinglun:before { content: "\e615"; }

.icon-warning:before { content: "\e627"; }

.icon-search:before { content: "\e60e"; }

.icon-embedend:before { content: "\e60c"; }

.icon-gallery:before { content: "\e61e"; }

.icon-arrow-right:before { content: "\e60a"; }

.icon-arrow-left:before { content: "\e60b"; }

.icon-arrow-down:before { content: "\e619"; }

.icon-arrow-up:before { content: "\e61c"; }

.icon-quote:before { content: "\e60d"; }

.icon-training:before { content: "\e61d"; }

.icon-dotted:before { content: "\e63c"; }

.icon-xian:before { content: "\e628"; }

